@import 'npm:highlight.js/styles/a11y-light.css';

:root {
    font-family: sans-serif;
    color: #222;

    .presenter-mode {
        margin: 0;

        #editor-box {
            display: none;
        }

        #slides {
            grid: 100vh / 100vw;
        }

        .slide {
            border: none;
            grid-area: 1 / 1 / 2 / 2;
        }

        .slide:not(.current) {
            display: none;
        }
    }
}

#start {
    font-size: 2em;
    margin: 0 auto .5em;
    display: block;
}

#slides {
    --columns: 4;
    --gap: 1em;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: calc((100vh - var(--gap) * var(--columns)) / var(--columns));
    gap: var(--gap);
}

.slide {
    container-name: slide;
    container-type: size;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;

    h1, h2 {
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6, pre, p, ul {
        margin: .2em 0;
    }

    .content {
        box-sizing: border-box;
        font-size: 5cqi;
        padding: 5cqi;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    pre {
        font-size: .75em;

        code {
            padding: .5em !important;
        }
    }
}

@media print {
    body {
        margin: 0;
    }

    #editor-box {
        display: none;
    }

    #slides {
        display: block;
    }

    .slide {
        display: block !important;
        page-break-after: always;
        border: none;
        height: 100vh;
    }
}
